<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FaqMenu',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      groups: [],
      currentGroupIndex: 0,
    };
  },
  mounted() {
    this.groups = this.data.groups.map((group: Object) => ({
      ...group,
      expanded: false,
    }));
  },
  methods: {
    toggleGroup(groupIndex: number): void {
      if (this.currentGroupIndex === groupIndex) {
        (this as any).groups[this.currentGroupIndex].expanded = !(this as any)
          .groups[this.currentGroupIndex].expanded;

        this.currentGroupIndex = 0;
      } else {
        (this as any).groups[this.currentGroupIndex].expanded = false;
        (this as any).groups[groupIndex].expanded = !(this as any).groups[
          groupIndex
        ].expanded;
        this.currentGroupIndex = groupIndex;
      }
    },
    tokenize(value: string) {
      return value.toLowerCase().split(' ').join('-');
    },
  },
});
</script>
<template>
  <div>
    <SlpTypography v-if="data.header" tag="h2">{{ data.header }}</SlpTypography>
    <div class="faq_container">
      <div v-for="(group, groupIndex) in groups" :key="group.header">
        <SlpTypography tag="h3" class="faq_container__header">
          <button
            :id="tokenize(group.header) + '-id'"
            class="faq_container__button"
            :aria-expanded="`${group.expanded}`"
            :aria-controls="tokenize(group.header) + '-section'"
            @click="toggleGroup(groupIndex)"
          >
            <span class="faq_container__header">{{ group.header }} </span>
            <span
              class="faq_container__icon"
              :class="{ 'faq_container__icon--open': group.expanded }"
            ></span>
          </button>
        </SlpTypography>
        <div
          v-if="group.expanded"
          :id="tokenize(group.header) + '-section'"
          class="content"
          role="region"
          :aria-labelledby="tokenize(group.header) + '-id'"
        >
          <div v-for="question in group.questions" :key="question.question">
            <div class="answer" v-html="$md.render(question.answer)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.faq_container {
  border: 1px solid $color-surface-400;
  box-sizing: border-box;
  border-radius: 4px;
  &__button {
    width: 100%;
    align-items: center;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    padding: $spacing-16 $spacing-24;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background: $color-surface-50;
    border-bottom: 1px solid $color-surface-400;
    @media (min-width: $breakpoint-md) {
      min-width: 509px;
    }
  }

  .content {
    padding: 1rem 23px;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-32 $spacing-24;
    }
    background: #f5f5f5;

    .answer {
      font-size: $text-body-2;
      line-height: $line-height-body-2;

      @media (min-width: $breakpoint-md) {
        line-height: $line-height-heading-5;
        font-size: $spacing-16;
      }
      &:deep a {
        display: inline-block;
        margin-bottom: $spacing-24;

        &:after {
          content: '→';
          opacity: 0;
          transition: 0.25s;
        }

        &:hover:after {
          opacity: 1;
        }
      }
    }
  }
  &__icon {
    height: 10px;
    width: 10px;
    position: relative;
    transition: transform 0.4s ease-in-out;
    margin-left: $spacing-4;
    &--open {
      transform: rotate(90deg);
      &:after {
        opacity: 0;
      }
    }
    &:before,
    &:after {
      content: '';
      background-color: black;
      position: absolute;
      display: block;
    }
    &:before {
      height: 10px;
      width: 2px;
      left: 50%;
    }
    &:after {
      height: 10px;
      width: 2px;
      transform: rotate(-90deg);
      top: 50%;
      transform-origin: top;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &__header {
    @media (min-width: $breakpoint-md) {
      line-height: $line-height-heading-3;
    }
    font-size: $text-heading-4;
    line-height: $line-height-heading-4;
    max-width: 100%;
  }
}

h2 {
  margin-bottom: $spacing-32;
  width: 100%;
  text-align: center;

  font-size: $text-heading-1-mobile;
  line-height: $line-height-heading-1-mobile;
  @media (min-width: $breakpoint-md) {
    font-size: $text-heading-2;
    line-height: $line-height-heading-2;
  }
}

.question {
  font-size: $text-heading-5;
  line-height: $line-height-heading-5;
  margin-bottom: $spacing-8;
  @media (min-width: $breakpoint-md) {
    font-size: $text-heading-4;
    line-height: $line-height-heading-4;
  }
}

.expand-icon {
  object-fit: scale-down;
}
</style>
