<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '~/common/meta';

import { NextStep } from '~/components/common/index.vue';
import { SolutionsHero } from '~/components/solutions/index.vue';
import { ComparisonTable } from '~/components/devops-tools/index.vue';

export default Vue.extend({
  components: {
    SolutionsHero,
    NextStep,
    ComparisonTable,
  },
  async asyncData({ $content, error }: any) {
    try {
      const competition = await $content('/competition/index').fetch();
      return { competition };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).competition, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <SolutionsHero :data="competition.hero" />
    <ComparisonTable :data="competition.comparison_table" />
    <NextStep />
  </div>
</template>

<style scoped lang="scss">
.comparison-table {
  width: 100%;
}
</style>
