<script lang="ts">
import Vue from 'vue';

import ComparisonPane from './comparison-pane.vue';

export default Vue.extend({
  name: 'ComparisonSideBySide',
  components: {
    ComparisonPane,
  },
  props: {
    comparisonData: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      currentTab: this.comparisonData.tabs[0].title,
      currentCompany: 0,
    };
  },
  methods: {
    changeTab(title): void {
      this.$refs.analysis.scrollIntoView();
      this.currentTab = title;
    },
    changeCompany(company): void {
      this.currentCompany = company;
    },
    getDropdownData() {
      return this.comparisonData.tabs.map((tab) => {
        return tab.title;
      });
    },
    getTabData() {
      return this.comparisonData.tabs.find(
        (tab) => tab.title === this.currentTab,
      );
    },
  },
});
</script>

<template>
  <div ref="analysis" class="slp-mt-48 analysis">
    <div class="analysis-navigation">
      <div class="analysis-navigation__title">
        <SlpTypography class="desktop-text" variant="heading5-bold">
          {{ comparisonData.stage }}
        </SlpTypography>
        <SlpTypography class="mobile-text" variant="body1-bold">
          {{ comparisonData.stage }}
        </SlpTypography>
        <SlpIcon
          class="slp-mt-8"
          :size="comparisonData.icon.size"
          :name="comparisonData.icon.name"
          :alt="comparisonData.icon.alt"
          :variant="comparisonData.icon.variant"
        />
      </div>
      <SlpDropdown
        v-model="currentTab"
        class="analysis-navigation__dropdown"
        name="mobileMenu"
        :options="getDropdownData()"
      />
      <nav class="analysis-tabs__container">
        <ul class="analysis-tabs">
          <li v-for="tab in comparisonData.tabs" :key="tab.title">
            <SlpButton
              variant="ghost"
              class="analysis-tab"
              :class="{ active: tab.title === currentTab }"
              @click.native="changeTab(tab.title)"
            >
              <SlpTypography variant="body2-bold">
                {{ tab.title }}
              </SlpTypography>
            </SlpButton>
          </li>
        </ul>
      </nav>
      <nav class="company-tabs__container">
        <ul class="company-tabs">
          <li>
            <SlpButton
              variant="ghost"
              class="company-tab"
              :class="{ active: currentCompany === 0 }"
              @click.native="changeCompany(0)"
            >
              <SlpTypography variant="body2-bold">
                {{ comparisonData.tabs[0].panes[0].title }}
              </SlpTypography>
              <nuxt-img
                class="slp-mt-8"
                :src="getTabData().panes[0].harveyball"
              />
            </SlpButton>
          </li>
          <li>
            <SlpButton
              variant="ghost"
              class="company-tab"
              :class="{ active: currentCompany === 1 }"
              @click.native="changeCompany(1)"
            >
              <SlpTypography variant="body2-bold">
                {{ comparisonData.tabs[0].panes[1].title }}
              </SlpTypography>
              <nuxt-img
                class="slp-mt-8"
                :src="getTabData().panes[1].harveyball"
              />
            </SlpButton>
          </li>
        </ul>
      </nav>
    </div>
    <div class="analysis-comparison">
      <ComparisonPane
        class="analysis-gitlab"
        :comparison-data="getTabData().panes[0]"
      />
      <ComparisonPane
        class="analysis-competator"
        :comparison-data="getTabData().panes[1]"
      />
      <ComparisonPane
        class="analysis-mobile"
        :comparison-data="getTabData().panes[currentCompany]"
      />
    </div>
  </div>
</template>

<style scoped lang="scss">
$nav-width: 168px;
$nav-overflow: $spacing-16;

.desktop-text {
  display: initial;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.mobile-text {
  display: none;

  @media (max-width: $breakpoint-md) {
    display: initial;
  }
}

.company-tabs__container {
  display: none;

  @media (max-width: $breakpoint-md) {
    display: block;
  }
}

.analysis-tabs__container {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.company-tabs {
  display: flex;

  .company-tab {
    width: 100px;
    display: flex;
    flex-direction: column;
    transition: none;
    padding-top: 12px;
    padding-bottom: 12px;

    img {
      height: 24px;
      width: 24px;
    }
  }

  .active {
    background-color: $color-surface-50;
    box-shadow: 0px 8px 50px #d1d0d3;
    z-index: 1001;
    clip-path: inset(-150px 0px 0px -50px);
  }
}

.analysis {
  display: grid;
  grid-template-columns: $nav-width 1fr;

  @media (max-width: $breakpoint-md) {
    display: block;
  }

  &-comparison {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 8px 50px #d1d0d3;
    z-index: 1000;

    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

  &-navigation {
    background-color: $color-surface-800;
    margin-left: $nav-overflow;
    border-radius: 8px 0px 0px 8px;

    @media (max-width: $breakpoint-md) {
      margin-left: 0px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $spacing-32 $spacing-24 $spacing-16 $spacing-24;

      @media (max-width: $breakpoint-md) {
        flex-direction: row-reverse;
        justify-content: left;
        align-items: baseline;

        .slp-icon {
          margin-right: $spacing-8;
          height: 24px;
          width: 24px;
        }
      }
    }

    &__dropdown {
      display: none;
      margin: 0px $spacing-16 $spacing-16 $spacing-16;
      background-color: $color-surface-50;

      @media (max-width: $breakpoint-md) {
        display: block;
      }
    }
  }

  &-tabs {
    li {
      margin-top: $spacing-16;
    }

    .active {
      background-color: $color-surface-50;
      width: $nav-width;
      margin-left: -$nav-overflow;
      padding-left: 32px;
      position: relative;
      box-shadow: 0px 8px 50px #d1d0d3;
      z-index: 1001;
      clip-path: inset(-150px 0px -50px -50px);
    }
  }

  &-tab {
    width: 100%;
    text-align: left;
    padding: 14px $spacing-32 14px $spacing-16;
    border-radius: 4px 0px 0px 4px;
    transition: none;
    border-right: none;
  }

  &-gitlab {
    background-color: $color-surface-50;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &-competator {
    background-color: $color-surface-200;
    border-radius: 0px 8px 8px 0px;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &-mobile {
    display: none;

    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
}
</style>
