<script lang="ts">
import Vue from 'vue';
import { SolutionsVideoModal } from '~/components/solutions/index.vue';

export default Vue.extend({
  name: 'FeatureItemCard',
  components: {
    SolutionsVideoModal,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    titleTag: {
      type: String,
      required: false,
      default: 'h5',
    },
    gaLocation: {
      type: String,
      required: false,
      default: 'body',
    },
  },
  data() {
    return {
      modal: {
        open: false,
      },
    };
  },
  methods: {
    handleClick() {
      this.modal.open = true;
      // Make sure Vimeo analytics work:
      // https://vimeo.zendesk.com/hc/en-us/articles/115002859607-Integrate-the-Vimeo-player-with-Google-Tag-Manager
      setTimeout(() => {
        // eslint-disable-next-line no-underscore-dangle
        window.__vimeoRefresh();
      }, 3000);
    },
    closeModal() {
      this.modal.open = false;
    },
  },
});
</script>

<template>
  <div class="feature-item-card">
    <div class="feature-item-card__header slp-mb-16">
      <SlpTypography tag="span" variant="all-caps">
        {{ data.header }}
      </SlpTypography>
    </div>
    <div class="feature-item-card__body slp-mb-48">
      <SlpTypography :tag="titleTag" variant="heading5-bold" class="slp-mb-16"
        >{{ data.title }}
      </SlpTypography>
      <div class="text" v-html="$md.render(data.description)"></div>
    </div>
    <div class="feature-item-card__footer">
      <SlpButton
        v-if="data.video"
        variant="ghost"
        :aria-label="data.video.data_ga_name"
        :data-ga-name="data.video.data_ga_name"
        :data-ga-location="gaLocation"
        @click.native="handleClick"
      >
        <SlpIcon
          class="feature-item-card__footer__icon"
          name="play-circle"
          variant="marketing"
          size="sm"
          slp-color="color-text-link-100"
        />
      </SlpButton>
      <SlpButton
        v-if="data.link"
        variant="tertiary"
        :href="data.link"
        :aria-label="data.link_description"
        :data-ga-name="data.link_description"
        :data-ga-location="gaLocation"
      >
        <SlpTypography tag="span" variant="body3-bold">
          Documentation
        </SlpTypography>
        <SlpIcon
          class="slp-ml-8"
          name="chevron-lg-right"
          variant="product"
          alt="Chevron Right Icon"
        />
      </SlpButton>
    </div>
    <div v-if="data.video">
      <SolutionsVideoModal
        v-show="modal.open"
        light-background
        :visible="modal.open"
        @close="closeModal"
      >
        <template #body>
          <iframe
            ref="video"
            :src="data.video.url"
            title="Video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </template>
      </SolutionsVideoModal>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.feature-item-card {
  padding: $spacing-32;
  border: 1px solid $color-surface-100;
  border-radius: $border-radius-4;
  justify-content: space-between;

  &__body {
    .text {
      font-size: $font-size-default;
      line-height: $line-height-body-2;
      font-weight: $font-weight-normal;
    }
  }

  &__footer {
    &:deep() {
      a {
        color: $color-text-link-100;
        padding: 0;
      }

      button {
        color: $color-text-link-100;
        min-width: auto;
      }
    }

    & > *:nth-child(2) {
      border-radius: 0;
      padding: 0 $spacing-16;
      border-left: 1px solid $color-surface-600;
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}
</style>
