<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CaseStudyQuote',
  props: {
    data: {
      type: Object,
      required: true,
    },
    fullWidth: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
});
</script>

<template>
  <div>
    <SlpRow
      class="case-study-quote"
      :class="{ 'case-study-quote__justify-left': fullWidth }"
    >
      <SlpColumn
        v-if="data.main_img"
        :cols="3"
        class="case-study-quote__main-img"
      >
        <nuxt-img
          :src="data.main_img.url"
          :alt="data.main_img.alt"
          width="300"
          height="300"
          loading="lazy"
        />
      </SlpColumn>
      <SlpColumn :cols="data.main_img || fullWidth ? 12 : 8">
        <div class="case-study-quote__link">
          <div class="case-study-quote__title-container">
            <nuxt-img
              v-if="data.title_img"
              :src="data.title_img.url"
              :alt="data.title_img.alt"
              loading="lazy"
            />
          </div>

          <SlpTypography
            class="case-study-quote__body"
            tag="div"
            variant="quotes"
            v-html="$md.render(data.quote)"
          >
          </SlpTypography>
          <div class="case-study-quote__author">
            <SlpTypography tag="p" variant="body3-bold"
              >- {{ data.author }},</SlpTypography
            >
            <SlpTypography tag="p" variant="body3" class="slp-ml-8"
              >{{ data.job }}
            </SlpTypography>
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
  </div>
</template>

<style scoped lang="scss">
.case-study-quote {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    justify-content: center;
  }

  &__title-container {
    width: 6rem;
    img {
      max-width: 200px;
      max-height: 80px;
    }
  }

  &__body {
    padding: 0 $spacing-16 $spacing-16 $spacing-24;
    max-width: 825px;

    @media (max-width: $breakpoint-md) {
      padding: 40px 0 $spacing-24 0;
    }
  }

  &__author {
    padding-top: $spacing-32;

    @media (min-width: $breakpoint-md) {
      display: flex;
      padding-left: $spacing-16;
    }
  }

  &__main-img {
    img {
      width: 250px;
      height: auto;
      border-radius: 0px 0px 100px 0px;
    }
  }

  &__justify-left {
    justify-content: left;
  }
}

.case-study-quote__link {
  color: $color-text-300;
}
</style>
